* {
    box-sizing: border-box;
}

:root {
    --primary-color: #2E80CE;
    --header-bg: #10375C;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ===== commom ======== */
.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin-right: auto;
    margin-left: auto;
}

a {
    text-decoration: none;
}

.btn {
    --height-btn: 60px;
    display: inline-block;
    border-radius: 99px;
    font-size: 1.8rem;
    font-weight: 400;
    min-width: 205px;
    padding: 0 16px;
    color: #fff;
    text-align: center;
    line-height: var(--height-btn);
    background: var(--primary-color);
    height: var(--height-btn);
}

.btn:hover {
    opacity: 0.9;
}

.section__heading {
    color: #10375C;
    font-size: 5rem;
    font-weight: 600;
    line-height: 1.2;
    letter-spacing: -1px;
}

.section__desc {
    margin-top: 18px;
    color: #575F66;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.control {
    display: flex;
    column-gap: 18px;
}

.control__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 36px;
    width: 36px;
    color: #575F66;
    border: 1px solid currentColor;
    border-radius: 50%;
    background-color: #fff;
    transition: 0.25s;
}

.control__btn:hover {
    color: #fff;
    cursor: pointer;
    border-color: var(--primary-color);
    background-color: var(--primary-color);
}

.control__btn:last-child {
    transform: rotate(180deg);
}

/* ===== header =========== */
.header {
    padding: 30px 0 110px;
    min-height: 100vh;
    background-color: var(--header-bg);
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    font-family: "Sora", sans-serif;
    position: relative;
    display: flex;
    font-size: 1rem;
}

.header__circle::before,
.header__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.header__circle::before {
    width: 3em;
    height: 3em;
    background-color: var(--primary-color);
}

.header__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background-color: #fff;
}

.header__text {
    margin-left: 0.6em;
}

.header__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.header__brand--small {
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    color: #C9D2DA;
    font-size: 1.6rem;
    font-weight: 300;
}

.header-action__login {
    margin-right: 7px;
}

.navbar__link:hover,
.navbar___link--active {
    color: #FFF;
    font-size: 1.6rem;
    text-shadow: 1px 0 0 currentColor;
}

.navbar___link--active::before {
    content: "";
    position: relative;
    top: -2px;
    left: -8px;
    display: inline-block;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #fff;
}

.header-action__signup {
    --height-btn: 44px;
    min-width: 104px;
    font-size: 1.6rem;
}

/* ===== hero ========= */
.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    width: 44%;
}

.hero__heading {
    color: #FFF;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14;
    letter-spacing: -1.4px;
}

.hero__desc {
    margin-top: 22px;
    color: #C9D2DA;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.66;
}

.hero-row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    margin-left: 38px;
    color: #FFF;
    font-size: 1.8rem;
    line-height: 1.66;
}

.hero__media {
    flex-grow: 1;
}

.hero__images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}

/* === Service ==== */
.service {
    padding-top: 170px;
}

.service__heading {
    text-align: center;
}

.service__desc {
    text-align: center;
    width: 468px;
    margin-left: auto;
    margin-right: auto;
}

.service-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 70px;
}

.service__img {
    width: 570px;
    height: 570px;
    border-radius: 12px;
    object-fit: cover;
}

.service-list {
    width: 470px;
    margin-bottom: 55px;
}

.service-items {
    display: flex;
    padding: 22px;
    border-radius: 10px;
    transition: 0.25s;
}

.service-items:hover {
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.05);
}

.service-items:hover .service-items__icon {
    color: #fff;
    background-color: var(--primary-color);
}

.service-items__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #EFF6FD;
    flex-shrink: 0;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.05);
    transition: 0.25s;
}

.service-items__body {
    margin-left: 19px;
}

.service-items__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: normal;
}

.service-items__desc {
    margin-top: 8px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

/* ======= Work ======= */
.work {
    margin-top: 170px;
    padding: 100px 0;
    background-color: #F6FBFF;
}

.work__desc {
    width: 468px;
}

.work-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    margin-top: 86px;
}

.work-items {
    padding: 43px;
    border: 16px solid #EAF6FF;
    border-radius: 4px;
    background-color: #fff;
    transition: 0.25s;
}

.work-items:hover {
    transform: translateY(-16px);
    border-color: var(--primary-color);
    cursor: pointer;
}

.work-items__heading {
    margin-top: 18px;
    color: #10375C;
    font-size: 2.6rem;
    font-weight: 600;
    line-height: 1.38;
}

.work-items__desc {
    margin-top: 28px;
    color: #575F66;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 1.75;
}

.work-items__link {
    display: inline-block;
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
    margin-top: 18px;
}

/* ======= Feature ========= */
.feature {
    padding: 85px 0;
    margin-top: 85px;
}

.feature-row {
    display: flex;
    align-items: center;
    column-gap: 130px;
}

.feature-media {
    width: 48%;
}

.feature__images {
    position: relative;
    padding: 0 58px 121px 0;
}

.feature__img {
    display: block;
    width: 512px;
    height: 370px;
    object-fit: cover;
    border-radius: 6px;
    box-shadow: 0px 14px 28px 0px rgba(0, 0, 0, 0.07);
}

.feature__img:last-child {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 332px;
    height: 370px;
}

.feature__cta {
    margin-top: 38px;
}

/* ============ Member ============= */
.member {
    padding: 85px 0;
}

.member__header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.member__ctn {
    margin-top: 38px;
}

.member__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 30px;
    text-align: center;
    margin-top: 70px;
}

.member-items:hover .member-items__thumb {
    transform: scale(1.1);
    cursor: pointer;
}

.member-items__img-bg {
    padding-top: 28px;
    background-color: #EAF6FF;
    border-radius: 6px;
    overflow: hidden;
}

.member-items__thumb {
    max-width: 100%;
    height: 290px;
    transition: 0.25s;
    vertical-align: bottom;
}

.member-items__name {
    margin-top: 12px;
    color: #10375C;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.member-items:hover .member-items__name {
    color: var(--primary-color);
    text-shadow: 1px 0 0 currentColor;
}

.member-items__title {
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.85;
}

.member__control {
    justify-content: center;
    margin-top: 38px;
}

/* ========= install ========== */
.install {
    margin-top: 171px;
}

.install__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 70px;
    background-color: var(--primary-color);
    border-radius: 4px;
}

.install__img {
    width: 284px;
    height: 522px;
    margin-top: -95px;
    object-fit: cover;
    vertical-align: bottom;
}

.install__content {
    max-width: 586px;
}

.install__heading,
.install__desc {
    color: #fff;
}

.install__heading {
    width: 489px;
}

.install__inner {
    display: flex;
    column-gap: 28px;
    margin-top: 38px;
}

.install__btn-img {
    transition: 0.25s;
}

.install__btn-img:hover {
    transform: translateY(-4px);
}

/* ============= News ============== */
.news {
    padding: 100px 0;
    margin-top: 70px;
}

.news__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.news__content {
    width: 40%;
}

.news__link {
    display: inline-block;
    margin: 28px 0;
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.55;
    text-decoration: underline;
    text-underline-offset: 5px;
}

.news__list {
    --column: 2;
    display: grid;
    grid-template-columns: repeat(var(--column), 1fr);
    column-gap: 30px;
    max-width: 570px;
}

.news-items {
    border-radius: 12px;
    overflow: hidden;
}

.news-items:hover {
    box-shadow: 0px 18px 50px 0px rgba(0, 0, 0, 0.05);
    overflow: hidden;
}

.news-items__thumb {
    overflow: hidden;
}

.news-items:hover .news-items__img {
    transform: scale(1.1);
}

.news-items__img {
    width: 100%;
    height: 172px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
    transition: 0.25s;
    vertical-align: bottom;
}

.news-items__body {
    padding: 24px;
    border: 1px solid #E8EBEE;
    background: #FFF;
    border-top: none;
    border-radius: 0 0 12px 12px;
}

.news-items__heading {
    color: #10375C;
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.62;
}

.news-items__desc {
    margin-top: 10px;
    color: #575F66;
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.71;
}

.news-items__link {
    display: inline-block;
    margin-top: 10px;
    color: #10375C;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: normal;
}

.news-items__link:hover {
    color: var(--primary-color);
}

/* ====== Appointment ======== */
.appointment {
    margin-top: 100px;
}

.appointment__inner {
    padding: 100px 70px;
    text-align: center;
    background-color: #F6FBFF;
}

.appointment__heading {
    position: relative;
    padding-bottom: 18px;
}

.appointment__heading::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto;
    display: inline-block;
    width: 136px;
    height: 2.5px;
    background-color: var(--primary-color);
}

.appointment__desc {
    width: 617px;
    margin-left: auto;
    margin-right: auto;
}

.appointment__link {
    margin-top: 38px;
}

/* ======= Footer ========== */
.footer {
    margin-top: 170px;
    font-family: "Open Sans", sans-serif;
    padding-top: 100px;
    background-color: #10375C;
}

.footer__row {
    display: grid;
    grid-template-columns: 1fr repeat(2, 0.4fr) 1fr;
    column-gap: 78px;
}

.footer__desc {
    margin-top: 21px;
    color: #A9B3BB;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

.footer__heading {
    color: #FFF;
    font-size: 1.6rem;
    font-weight: 600;
    line-height: 1.75;
    margin-bottom: 20px;
}

.footer__list {
    margin-bottom: 20px;
}

.footer__link {
    display: inline-block;
    color: #A9B3BB;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
    white-space: nowrap;
    margin-top: 10px;
}

.footer__link:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.footer__row-icon {
    display: flex;
    column-gap: 10px;
    margin-bottom: 28px;
}

.footer__social-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: #fff;
    border-radius: 50%;
    transition: 0.25s;
    color: var(--primary-color);
}

.footer__social-icon:hover {
    color: #FFF;
    background-color: var(--primary-color);
}

.footer__copyright {
    border-top: 1px solid #406181;
}

.footer__copyright-text {
    padding: 28px 0 42px;
    color: #AAB3BA;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.85;
}